/* CONTENEUR GLOBAL */
.epreuve-e5 {
  background-color: #f4f4f4c5;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  max-width: 1000px; /* évite que ça s'étale trop */
}

/* BLOCS = cartes */
.bloc-e5 {
  margin-top: 30px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.08);
}

/* TITRES */
.bloc-e5 h2 {
  margin-bottom: 10px;
}

/* BOUTON TELECHARGEMENT */
.btn-download {
    display: inline-block;
    padding: 10px 15px;
    background-color: #373ac2;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-download:hover {
    background-color: #2c2fa3;
}

/* VIDEO */
.video-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.video-container video {
  width: 80%;
  max-width: 700px;
  border-radius: 8px;
}

/* ARBRE */
.stage {
  font-weight: bold;
  margin-top: 15px;
}

.arbre {
  padding-left: 20px;
}

.arbre li {
  display: block;
  margin: 5px 0;
}

.arbre li::before {
  content: "├─ ";
}

.arbre li:last-child::before {
  content: "└─ ";
}